#root,
html,
body {
  margin: 0;
  padding: 0;
}

#canvas {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

#gradient {
  width: 0;
  height: 0;
}

.ttt-grid {
  display: grid;
  width: 100%;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0;
  background: rgb(103, 116, 138);
}

.cell-svg {
  border: 2px solid black;
  width: 100%;
  height: 100%;
}
